* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    /*    100% of the viewport height*/
    padding: 10px;
    background-color: floralwhite;

}

h1 {
    font-family: priori-sans, sans-serif;

    font-weight: 400;

    font-style: normal;
    text-align: center;
    color: #1a1500;
    font-size: 100px;
    max-width: 100%;
    height: auto;
    padding: 20px;

}

p {
    font-family: priori-sans, sans-serif;

    font-weight: 300;

    font-style: normal;
    text-align: center;
    color: #1a1500;
    font-size: 50px;
    max-width: 100%;
    height: auto;

}

.portrait {
    width: 150em;
    padding: 30px;
    margin-bottom: 20px;
}

.landscape {
    width: 80em;
    margin-bottom: 20px;
    padding: 100px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1080px;
    padding: 110px;

}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#wrapper .text {
    position: relative;
    bottom: 10px;
    left: 0px;
    visibility: hidden;
}

#wrapper:hover .text {
    visibility: visible;
}

h2 {
    text-align: left;
    display: table;
    margin: 100px;
    max-width: 100%;
    height: auto;
    display: inline;
    padding-bottom: 200px;

}

a {
    text-decoration: none;
    font-family: priori-sans, sans-serif;

    font-weight: 300;

    font-style: normal;
    font-size: 150px;
    text-transform: none;
    line-height: 1;
    color: black;


}

a:hover {

    color: yellowgreen;
}

/*
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
*/


/*
    animation properties
    transition: 1s;
*/
}


/*
a:hover {
    background: black;
    color: white;
}
*/
